html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.mensaje-cookies {
    width: 600px;
    height: 100px;
    margin: 3% 35%;
    text-align: center;
    border: 3px solid black;
    padding: 15px;
    border-radius: 15px;
}
.mensaje-cookies button {
    padding: 10px;
}
.aceptar-cookies {
    margin-right: 200px;
}