/*FONTS*/
@font-face { 
    font-family: 'TuercaBoldItalic'; 
    src: url(../fonts/TuercaBlackItalic.ttf); 
} 
@font-face { 
    font-family: 'NafteraBold'; 
    src: url(../fonts/Naftera/NafteraBold.ttf); 
} 
@font-face {
    font-family: 'DrukWideBold';
    src: url(../fonts/DrukWideBold.ttf);
}
@font-face {
    font-family: 'MensuraRegular';
    src: url(../fonts/MensuraRegular.ttf);
}
@font-face {
    font-family: 'Tuerca';
    src: url(../fonts/TuercaBlackItalic.ttf);
}
@font-face {
    font-family: 'MensuraBold';
    src: url(../fonts/MensuraBold.ttf);
}
/*/FONTS*/

body, html {
    width: auto;
    height: auto;
    background-image: url(../images/INDEX-IMGs/background.png);
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}
#black_screen {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 130%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 2;
}

/*HEADER*/
* {
    box-sizing: border-box;
    line-height: 1.5;
}
header {
    width: 100%;
    height: 184px;
    position: fixed;
    top: 0;
    z-index: 1;
}
.header-container {
    width: 100%;
    height: 122px;
    background: linear-gradient(122.95deg, #021859 56.16%, #094058 78.84%, #137356 100%);
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 55px 0 31px;
}
.containermenu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    width: 140px;
    height: 42px;
    background: linear-gradient(to top right, rgba(217, 217, 217, 0.06) 30%, rgba(255, 255, 255, 0.18) 100%);
    box-shadow: 3px 3px 4px rgba(254, 239, 255, 0.17);
}
nav {
    z-index: 2;
}
.containermenu div {
    padding-left: 3px;
}
.containermenu p {
    padding-right: 3px;
    margin: 0;
}
.menu {
    background-color: white;
    width: 41px;
    height: 4px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.containermenu:hover {
    box-shadow: 3px 3px 8px rgba(4, 118, 217, 0.40);
}
.containermenu p {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.57);
    color: white;
    font-size: 20px;
    font-family: 'NafteraBold';
    font-weight: bold;
    user-select: none;
}
.containermenu:hover p {
    text-shadow: 1px 1px 5px rgba(175, 193, 246, 1);
    font-size: 21px;
}
.containermenu:hover .menu {
    box-shadow: 2px 4px 5px rgba(175, 193, 246, 1);
}
.menu:nth-child(2), .menu:nth-child(3) {
    margin-top: 6px;
}
#tituloHeader {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    margin-left: 70px;
    z-index: 2;
}
#tituloHeader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 299px;
    height: 100%;
    background-color: rgba(4, 118, 217, 0.25);
    clip-path: polygon(60px 0, 0 100%, 239px 100%, 100% 0);
}
#tituloHeader h1 {
    color: white;
    font-size: 50px;
    text-shadow: 4px 4px 3px #0476D9;
    font-family: 'TuercaBoldItalic';
    margin: 0;
    z-index: 1;
}
.logo {
    margin-left: 26px;
    z-index: 2;
    filter: drop-shadow(3px 3px 9px rgba(4, 191, 104, 0.75));
    cursor: pointer;
}
.hexagonos {
    position: absolute;
    left: 861px;
}
.apartadouser {
    margin-left: auto;
    display: flex;
    align-items: center;
    z-index: 2;
}
.fotouser {
    width: 61px;
    height: 61px;
    background-image: url(../images/Others/FotoPerfil.svg);
    border-radius: 30.5px;
}
.descripcion_user {
    margin-left: 13.5px;
}
.descripcion_user div:first-child {
    display: flex;
    align-items: center;
}
.descripcion_user > div:first-child p {
    color: white;
    font-size: 16px;
    text-shadow: 4px 4px 3px rgba(2, 53, 38, 1);
    font-family: 'NafteraBold';
    font-size: 15px;
    font-weight: bold;                                             
    font-style: normal;
    margin: 0;
}
.descripcion_user > div:first-child div {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.35);
    box-shadow: 2px 2px 5px rgba(4, 191, 104, 0.53);
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descripcion_login {
    display: inline-block;
}

#descripcion_login_div{
    display: inline-block;
    width: auto;
}
.descripcion_links{
    display: inline-block;
    width: auto;
    font-family: 'NafteraBold';
    font-size: 25px;
    color: black;
    font-weight: bold;
    background-color: red;
}


.boton_perfil {
    width: 113px;
    height: 26px;
    border: 1px solid rgba(4, 191, 104);
    background-color: rgba(255, 255, 255, 0.18);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    margin-top: 7px;
}
.boton_perfil p {
    font-size: 13px;
    font-family: 'NafteraBold';
    font-weight: bold;   
    text-shadow: 1.5px 1.5px 7px #023526;
    color: rgba(255, 255, 255, 0.87);
    margin: 0;
}
hr {
    background: linear-gradient(90deg, rgba(4,54,217,1) 46%, rgba(4,191,104,1) 71%);
    height: 3px;
    border: none;
    position: relative;
    z-index: 100;
    margin: 0;
}
.header-nav {
    display: flex;
    background: linear-gradient(142.17deg, #021859 49.66%, #094058 72.34%, #137356 100%);
    width: 100%;
    height: 61px;
    box-shadow: 0 10px 20px #000000;
    align-items: center;
    position: relative;
    padding: 0 64px 0 30px;

    justify-content: space-between;
}
.header-nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 61px;
    background-color: rgba(0, 0, 0, 0.34);
    z-index: 2;
}
.menusecciones .seccion:not(:first-child){
    margin-left: 40px;
}
.seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 171px;
    height: 39px;
    background: linear-gradient(#22397C, #021859);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    color: white;
    font-family: 'NafteraBold';
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    user-select: none;
}
.inicio {
    text-shadow: 0.5px 0.5px 10px #FFFFFF;
}
.inicio img {
    filter: drop-shadow(2px 2px 6px rgba(255, 255, 255, 0.6));
    margin-left: 10px;
    width: 26px;
}
.contacto {
    background: linear-gradient(to right, rgba(2, 24, 89, 1), rgba(11, 76, 87, 1));
}
header > .header-nav > .redes {
    display: flex;
    z-index: 2
}
.redes a {
    text-decoration: none;
}
.redes a:first-child div {
    width: 111px;
    height: 33px;
    background: linear-gradient(45deg, yellow 5%, #fd1d1d, #833ab4);
    border-radius: 10px;
    box-shadow: 4px 4px 10px #011711;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.redes a:nth-child(2) div {
    width: 111px;
    height: 33px;
    background: linear-gradient(90deg, #00C2FF, #001AFF);
    border-radius: 10px;
    box-shadow: 4px 4px 10px #011711;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.redes a:nth-child(2) div p, 
.redes a:first-child div p {
    color: white;
    font-family: 'NafteraBold';
    font-weight: bold;
    font-size: 11px;
    margin: 0;
    padding-top: 2.5px;
}
.redes a:first-child div img {
    filter: drop-shadow(1px 1px 5px white);
    margin-right: 6px;
}
.redes a:nth-child(2) div img {
    filter: drop-shadow(1px 1px 5px white);
    margin-right: 11px;
}
.menusecciones {
    display: flex;
    z-index: 2;
}
.redes a:nth-child(2) {
    margin-left: 18px;
}

#IMG-FLECHA-MENU{
    margin-top: 3px;
    margin-left: 5px;
}

@media screen and (max-width: 1450px) {
    .menusecciones .seccion:not(:first-child){
        margin-left: 20px;
    }
    .header-nav{
        padding-left: 10px;
    }
}

@media screen and (max-width: 1200px) {
    header > .header-nav > .redes {
        display: none;
    }
    .menusecciones .seccion:not(:first-child){
        margin-left: 30px;
    }
    .header-nav{
        padding-left: 70px;
    }
}

@media screen and (max-width: 1060px) {
    .descripcion_user > div:first-child p {
        display: none;
    }
    .boton_perfil{
        display: none;
    }
    .descripcion_user > div:first-child img {
        width: 60px;
    }
    .header-nav {
        display: none;
    }
    .containermenu p {
        display: none;
    }
    .containermenu {
        width: 60px;
    }
}
@media screen and (max-width: 800px) {
    #tituloHeader {
        margin-left: 20px;
    }
    .logo {
        margin-left: 10px;
    }
}
/* /HEADER */

/* AJUSTAR CUENTA*/
.container-ajustar {
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 2;
    width: 570px;
    height: 625px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(4, 191, 104, 0.4);
    margin-top: 200px;
    display: none;
}
.container-ajustar h1 {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.55);
    width: 100%;
    font-family: 'TuercaBoldItalic';
    font-weight: normal;
    margin: 0;
    height: 97px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-top: 6px;
}
.foto-ajustarcuenta {
    display: flex;
    justify-content: center;
}
.foto {
    width: 91px;
    height: 91px;
    border-radius: 50%;
    background-image: url(../images/Others/FotoPerfil.svg);
    position: relative;
    background-color: black;
    background-size: cover;
    border: 2px solid #707070;
}
.circulo-camara {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #707070;
    position: absolute;
    right: -7px;
    bottom: -9px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.circulo-camara img {
    width: 21px;
}
form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 17px;
}
input {
    font-family: 'NafteraBold';
    font-size: 19px;
    font-weight: normal;
    width: 488px;
    height: 45px;
    border-radius: 19px;
    border: 3px solid rgba(0, 0, 0, 0.46);
    padding-left: 40px;
}
input::placeholder {
    color: rgba(0, 0, 0, 0.21);
    font-family: 'NafteraBold';
    font-size: 17px;
    text-align: left;
    font-weight: 500;
}
.input_nameuser::placeholder {
    text-align: left;
    padding-left: 10px;
}
.name-user {
    font-family: 'NafteraBold';
    font-size: 18px;
    color: rgba(0, 0, 0, 0.31);
    font-weight: 700;
    position: relative;
}
.icono-nameuser {
    position: absolute;
    top: 37px;
    left: 8px;
}
.input_nameuser {
    border-radius: 0;
    border: none;
    outline: none;
}
.name-user::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.57);
    left: 0;
    bottom: 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.div-correo {
    position: relative;
    margin-top: 21px;
}
.div-correo img {
    position: absolute;
    top: 11px;
    left: 12px;
}
.div-password {
    position: relative;
    margin-top: 21px;
}
.div-password img {
    position: absolute;
    top: 11px;
    left: 14px;
}
.regla {
    font-family: 'NafteraBold';
    font-size: 15px;
    color: rgba(0, 0, 0, 0.58);
    font-weight: normal;
    margin: 20px 0px 0px 30px;
    width: 489px;
}
.containerEnviar {
    margin-top: 33px;
    width: 488px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.boton-enviar {
    letter-spacing: 0.3px;
    width: 242px;
    height: 43px;
    font-family: 'NafteraBold';
    font-size: 16px;
    font-weight: normal;
    color: rgba(4, 191, 104, 1);
    border-radius: 12px;
    background-color: transparent;
    border: 4px solid rgba(4, 191, 104, 1);
    box-shadow: 2px 2px 8px rgba(4, 191, 104, 0.32);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.error {
    color: red;
}
.ERROR-VALIDATE {
    width: 500px;
    margin: 0;
    font-size: 0.7em;
    font-family: 'NafteraBold';
    font-weight: bold;
    position: absolute;
    left: 15px;
}
/* /AJUSTAR CUENTA*/
/* REGISTRAR CUENTA*/
.container-registrar {
    position: absolute;
    top: 20%;
    right: 33%;
    z-index: 2;
    width: 570px;
    height: 640px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(4, 191, 104, 0.4);
    margin-top: 200px;
    display: none;
}
.container-registrar h1 {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.55);
    width: 94%;
    font-family: 'TuercaBoldItalic';
    font-weight: normal;
    margin: 0;
    height: 97px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-top: 10px;
    transform: translate(14.8%, 30%);
}
#close_register_button_register{
    display: inline-block;
    width: 5%;
    transform: translate(-115%, 15%);
    background: transparent;
    border: none;
    font-size:0;
}
/* /REGISTRAR CUENTA*/
/* LOGIN*/
.container-login {
    position: absolute;
    top: 80px;
    right: 600px;
    z-index: 2;
    width: 570px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(4, 191, 104, 0.4);
    margin-top: 200px;
    display: none;
}
.container-login h1 {
    font-size: 45px;
    color: rgba(0, 0, 0, 0.55);
    width: 94%;
    font-family: 'TuercaBoldItalic';
    font-weight: normal;
    margin: 0;
    height: 97px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-top: 10px;
    transform: translate(36%, 15%);
}
#close_register_button_login{
    display: inline-block;
    width: 5%;
    transform: translate(-115%, -20%);
    background: transparent;
    border: none;
    font-size:0;
}
#FORM-LOGINCUENTA{
    padding-top: 0;
}
/* /LOGIN*/

/* SUBMENU*/
.container-submenu {
    position: absolute;
    background-color: rgba(217, 217, 217, 0.88);
    width: 230px;
    height: 80px;
    border-radius: 10px;
    display: none;
    text-align: center;
    right: 20px;
    top: 200px;
    z-index: 3;
}
.container-submenu button {
    width: 209px;
    height: 25px;
    border-radius: 5px;
    margin-top: 9px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    font-family: 'NafteraBold';
    font-size: 16px;
}
.container-submenu button:hover {
    color: rgba(4, 191, 104, 1);
}
/* /SUBMENU*/

/* MENU */
.container-menu{
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 2;
    width: 300px;
    height: 420px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(4, 110, 191, 0.696);
    margin-top: 210px;
    display: none;
}
.container-menu h1{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.55);
    width: 100%;
    font-family: 'TuercaBoldItalic';
    font-weight: normal;
    margin: 0;
    height: 97px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-top: 6px;
}

.container-menu-enlaces {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 200px;
}
.container-menu-enlaces a{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    font-family: 'NafteraBold';
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
    border-bottom: 3px solid rgba(0, 0, 0, 0.55);
}
/* /MENU */

#UNIRSE-BUTTON{
    position: relative;
    margin-top: 230px;
    font-size: 20px;
    right: 680px;
    border: 0;
    border-radius: 5px;
    font-size: 25px;
    width: 300px;
    height: 60px;
    background-color: #f2f2f2;
}
#UNIRSE-BUTTON p{
    font-size: 30px;
    position: relative;
    transform: translate(-3%, -140%);
    color: white;
    font-family: 'Tuerca';
}
#UNIRSE-BUTTON:hover {
    transform: translateY(-10px);
    transition: all 0.7s ease 0s;
}

/* TEXT-PRESENTATION*/
.presentacion h1 {
    font-size: 75px;
    font-family: 'DrukWideBold';
    margin: 0;
}
.presentacion h1:first-child {
    background-image: linear-gradient(to right, #001756 25%,#1546d8 39%,#1546d8 63%,#001756 77%);
    background-clip: text; /* Esta línea permite que el degradado se ajuste al texto */
    -webkit-background-clip: text; /* Esta línea es necesaria para compatibilidad con navegadores webkit */
    color: transparent;
}
.presentacion h1:nth-child(2), .presentacion h1:nth-child(3) {
    color: #ECECEC;
}
.presentacion p {
    height: 70px;
    position: relative;
    top: 35px;
    left: 40px;
    margin: 0;
    width: 692px;
    text-align: center;
    font-family: 'MensuraRegular';
}
.presentacion { 
    display: inline-block;
    position: relative;
    margin-left: 68px; /*------*/
    margin-bottom: 76px; /*------*/
    margin-top: -50px;
}
.div-video {
    width: 478px;
    height: 571px;
    position: relative; /**/
    overflow: hidden; /**/
    clip-path: polygon(104px 0px, 500px 0px, 478px 574px, 0px 574px);
    position: relative;
}
video {
    width: 1043px;
    height: auto;
    position: absolute;
    object-fit: cover;
    left: -420px;
}
.linea-gif {
    position: absolute;
    width: 108px;
    height: 574px;
    clip-path: polygon( 108px 0px, 4px 574px, 0px 572px, 104px 0px);
    background: linear-gradient(to bottom, rgba(0, 194, 255, 1), rgba(12, 242, 93, 1));
    left: 69%;
}
.container-presentacion {
    position: relative;
    width: 90%;
    height: 571px;
    clip-path: polygon( 0px 0px, 100% 0px, 100% 571px, 747px 571px, 677px 522px, 0px 522px);
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.texto-presentacion {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 118px;
    font-size: 26px;
}
.centrar-container-presentacion {
    display: flex;
    justify-content: center;
    position: relative;
    top: 187px;
}
.titulo-novedades {
    position: relative;
    font-size: 60px;
    top: 140px;
    left: 10%;
    font-family: 'Tuerca';
    margin: 0;
    background-image: linear-gradient(to right, rgba(2, 24, 89, 1), rgb(0 65 255));
    background-clip: text; /* Esta línea permite que el degradado se ajuste al texto */
    -webkit-background-clip: text; /* Esta línea es necesaria para compatibilidad con navegadores webkit */
    color: transparent;
}
/* /TEXT-PRESENTATION*/

/* COOKIES */
.container-cookies {
    width: 650px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(4, 110, 191, 0.696);
    display: none;
    position: relative;
    bottom: 1px;
    left: 10px;
    font-family: 'NafteraBold';
    font-size: 16px;
    z-index: 4;
}
.mensaje-cookies {
    width: 100%;
    border-radius: 15px;
}
.cookies button {
    padding: 10px;
    margin-right: 5px;
    font-family: 'Tuerca';
    font-size: 13px;
    background-color: rgba(218, 218, 218, 0.752);
    border-radius: 5px;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.696);
}
.imagenGalleta img {
    position: relative;
    top: 5px;
    left: 30px;
    margin: 0;
    width: 150px;
    display: inline-block;
}
.imagenGalleta {
    width: 35%;
    display: inline-block;
}
.cookies {
    display: inline-block;
    width: 64%;
    position: relative;
    top: -25px;
}
.aceptar-cookies:hover {
    background-color: rgb(12, 242, 93);
    font-weight: bold;
}
.rechazar-cookies:hover {
    background-color: #A70000;
    color: white;
    font-weight: bold;
}
@media screen  and (max-width: 1000px ) {
    .mensaje-cookies {
        width: 400px;
        height: 250px;
    }
    .imagenGalleta img {
        width: 150px;
        transform: translate(0,-5%);
    }
    .imagenGalleta{
    display: inline-block;
    }
    .cookies p {
        display: inline-block;
    }
    .rechazar-cookies {
        margin-top: 15px;
    }
}
@media screen and (max-width: 650px) {
    .mensaje-cookies {
        width: 300px;
    }
    .imagenGalleta img{
        transform: translate(0, -10%);
    }
}
/* /COOKIES */

/* NOTICIAS-EVENTOS-NOVEDADES*/
.slick-slider{
    margin-top: 170px;
}
.novedad {
    width: 394px;
    margin-bottom: 100px;
    height: auto;
    display: inline-block;
}
.novedad > p {
    font-family: 'MensuraRegular';
    font-size: 20px;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 0px;
}
.novedad > h1 {
    font-family: 'MensuraBold';
    font-size: 34px;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 9px;
    font-weight: 300;
}
.circulo-gradient {
    display: flex;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to bottom, #0436D9, #00C2FF);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.circulo-entremedio {
    width: 92px;
    height: 92px;
    background-color: #F2F3F4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circulo-inferior {
    width: 86px; /*85*/
    height: 86px; /*85*/
    background-color: #021859;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circulo {
    display: flex;
    justify-content: center;
}
.novedad-derecha {
    text-align: right;
}
.novedad-centrar {
    text-align: center;
}
@media screen and (max-width: 800px) {
    .container-novedad {
        text-align: center;
    }
    
}
@media screen and (max-width: 1116px) {
    .novedad > p {
        padding: 20px 20px;
    }
}
/* /NOTICIAS-EVENTOS-NOVEDADES*/