
/*-------------------------------------------------------
                        L O G I N
--------------------------------------------------------*/
.container-login {
    padding: 46px 44px;
    position: relative;
    background: linear-gradient(white, white) padding-box, linear-gradient(120deg, transparent 21%, #0436D9 , #00C2FF) border-box;
    border: 3px solid transparent;
}

.container-login>h1 {
    font-family: 'Tuerca';
    font-weight: 100;
    color: #001AFF;
    font-style: italic;
}

.container-login>p {
    font-family: 'MensuraRegular';
    font-style: italic;
    color: black;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 26px;
}

#cerrar-modal-login {
    position: absolute;
    color: #001AFF;
    top: 23px;
    right: 23px;
    cursor: pointer;
}

/*------------------------------------------------*/

.input-bx {
    position: relative;
    width: 370px;
    font-family: 'MensuraRegular';
}
.input-bx input {
    width: 100%;
    padding: 13px;
    font-family: 'MensuraRegular';
    border: 1px solid rgb(106 106 106);
    border-radius: 12px;
    outline: none;
    color: black;
    font-size: 15px;
    letter-spacing: 0.8px;
    transition: 0.6s;
}
.input-bx > span {
    position: absolute;
    left: 0;
    top: 1px;
    padding: 13px;
    pointer-events: none;
    font-size: 15px;
    color: rgb(106 106 106);
    transition: 0.6s;
    letter-spacing: 0.8px;
}
.input-bx input:valid~span,
.input-bx input:focus~span {
    color: #001AFF;
    transform: translateX(10px) translateY(-7px);
    font-size: 14.5px;
    padding: 0 10px;
    background: white;
    border-left: 1px solid #001AFF;
    border-right: 1px solid #001AFF;
    letter-spacing: 0.3px;
}
.input-bx input:valid,
.input-bx input:focus {
    border: 1px solid #001AFF;
}
.input-bx2 {
    margin-top: 20px;
}
/*color: #888888*/

/* E R R O R   V A L I D A T E-----------------------------*/
.error-validate {
    font-family: "Poppins", sans-serif;
    color: red;
    width: 370px;
    margin-top: 6px;
}

.error-validate span {
    font-size: 19px;
    margin-right: 4px;
    line-height: 1;
}

.error-validate p {
    font-size: 13.4px;
    letter-spacing: 0.6px;
    display: flex;
    align-items: flex-start;
}
.error {
    color: red;
}
.validate, .valid {
    border-color: green;
}
/*---------------------------------------------------------*/
.boton-login {
    letter-spacing: 1.2px;
    font-family: 'MensuraBold';
    color: white;
    margin-top: 25px;
    background: #001AFF;
    border: none;
    font-size: 18px;
    width: 189px;
    height: 42px;
    cursor: pointer;
    font-style: italic;
    clip-path: polygon( 174px 50px, 100% 0px, 16px 0px, 0px 100%);
  }
  


/* M O D A L   L O G I N -----------------------------*/

#modal-login {
    padding: 0px;
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal-login {
    /* Resto de tus estilos... */
    overflow-y: auto;
}

#modal-login::-webkit-scrollbar {
    display: none;
}

#modal-login::backdrop {
    background-color: rgba(0, 0, 0, 0.653);
}


/*-------------------------------------------------------
                    R E G I S T R O
--------------------------------------------------------*/

#modal-registro {
    outline: none;
    padding: 0px;
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#modal-registro {
    /* Resto de tus estilos... */
    overflow-y: auto;
}

#modal-registro::-webkit-scrollbar {
    display: none;
}

#modal-registro::backdrop {
    background-color: rgba(0, 0, 0, 0.653);
}
#cerrar-modal-registro {
    position: absolute;
    font-size: 44px;
    color: #001AFF;
    font-weight: 400;
    font-size: 30px;
    top: 23px;
    right: 23px;
    font-weight: 900;
    cursor: pointer;
}

/*----------------------------------------------------*/
.centrar-user-img {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.user-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
}
.photo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
#file {
    display: none;
}
#subirfoto-btn {
    position: absolute;
    width: 32px;
    height: 32px;
    padding: 4px 4px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 60px;
    background-color: rgb(84 84 84);
    top: 0;
    right: 0;
}
#subirfoto-btn span {
    color: white;
    font-size: 24px;
    margin: 0;
}

/*--------------------------------------------*/

.container-registro {
    padding: 46px 0px;
    width: 470px;
    position: relative;
    background: linear-gradient(white, white) padding-box, linear-gradient(120deg, transparent 21%, #0436D9 , #00C2FF) border-box;
    border: 3px solid transparent;
}

.container-titulo-registrar > h1 {
    font-family: 'Tuerca';
    font-weight: 100;
    color: #001AFF;
    font-style: italic;
}

.container-titulo-registrar > p {
    font-family: 'MensuraRegular';
    font-style: italic;
    color: black;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 26px;
}

.input-bx-registro {
    width: 370px;
    margin-top: 17px;
}
.container-inputs-registrar {
    width: 370px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.centrar-container-inputs {
    display: flex;
    justify-content: center;
}
.container-boton-registrar {
    width: 100%;
}
.container-titulo-registrar {
    padding-left: 44px;
}
#cerrar-modal-registro {
    top: 12px;
    right: 12px;
}
.input-bx > span {
    left: 30px;
}
.input-bx input:valid~span, .input-bx input:focus~span {
    left: 0px;
}
.input-bx i {
    position: absolute;
    left: 13px;
    top: 11px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(106 106 106);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
}

.input-bx input:focus~i, .input-bx input:valid~i {
    opacity: 0;
    visibility: hidden;
}

/*--------------------------------------------*/
/*           MENSAJE EMAIL REPETIDO           */
/*--------------------------------------------*/
.toast-email {
    box-sizing: border-box;
    width: 370px;
    border: 2px solid  #E60221;
    border-radius: 8px;
    background-color: white;
    height: 53px;
    padding: 5px;
    display: flex;
    align-items: center;
}
.contenedor-icono {
    background-color: #FCD9DE;
    width: 32px;
    height: 32px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-icono i {
    color: #E50021;
    font-size: 19px;
}
.toast-email div:nth-of-type(2) * {
    margin: 0;
    margin-left: 11px;
}
